name: Build ISO
on:
  workflow_dispatch:

jobs:
  build-iso:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true
      
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build ISO
        uses: jasonn3/build-container-installer@v1.2.4
        with:
          image_repo: ghcr.io/${{ github.repository_owner }}
          image_name: bazzite-gamedev
          image_tag: latest
          version: 42
          iso_name: bazzite-gamedev.iso
          variant: Kinoite

      - name: Upload ISO as Artifact
        uses: actions/upload-artifact@v5
        with:
          name: bazzite-gamedev-iso
          path: |
            *.iso
            *.sha256
          if-no-files-found: error
          retention-days: 5
